<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form layui-form-pane" id="mySearch"></div>
        <div>
            <div onclick=layerOpen('{:url("add")}',[],"添加") class="layui-btn layui-btn-normal">添加</div>
        </div>
        <table class="layui-table" lay-filter="myTable" id="myTable"></table>
    </div>
</div>
<script>
    var $;
    layui.use(['table', 'form', "ml", "jquery"], function () {
        var ml = layui.ml;
        var table = layui.table;
        $ = layui.jquery;
        ml.render({
            elem: "#myTable",
            page: false,
            search_elem: "#mySearch",
            cols: [[
                {'type': "checkbox"},
                {'field': "id", 'title': "排序", width: 60, edit: true},
                {'field': "name", 'title': "菜单名称", "search": true},
                {'field': "is_show", 'title': "是否显示", type: "switch"},
                {'field': "status", 'title': "是否显示", type: "switch"},
                {
                    'field': "field", 'title': "操作", btns: [
                        {title: "编辑", click: "layerOpen('{:url("edit")}?id={{d.id}}');"},
                        {title: "删除", class:"layui-btn-warm", click: "del('{{d.id}}');"}]
                }
            ]]
        })
    })

</script>