<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form layui-form-pane" id="mySearch"></div>
        <table class="layui-table" lay-filter="myTable" id="myTable"></table>
    </div>
</div>
<script type="text/html" id="toolsTpl">
    <div class="layui-btn-group">
        <span class="layui-btn layui-btn-sm" onclick="edit('{{d.id}}');">编辑</span>
        <span class="layui-btn layui-btn-sm layui-btn-danger" onclick="del('{{d.id}}');">删除</span>
    </div>
</script>
<script>
    var $;
    layui.use(['table', 'form', "ml", "jquery"], function () {
        var ml = layui.ml;
        var table = layui.table;
        $ = layui.jquery;
        ml.render({
            elem: "#myTable",
            page: false,
            search_elem: "#mySearch",
            cols: [[
                {'type': "checkbox"},
                {'field': "id", 'title': "排序", width: 60, edit: true},
                {'field': "name", 'title': "菜单名称", "search": true},
                {'field': "is_show", 'title': "是否显示", type: "switch"},
                {'field': "status", 'title': "是否显示", type: "switch"},
                {
                    'field': "field", 'title': "操作", btns: [
                        {title: "编辑", click: "edit('{{d.id}}');"},
                        {title: "删除", class:"layui-btn-warm", click: "del('{{d.id}}');"}]
                }
            ]]
        })
        table.on("")

    })

    function add(url, title) {
        layerOpen(url, title)
    }

</script>