<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form-item layui-form-pane" id="mySearch"></div>
        <table class="layui-table" id="myTable"></table>
    </div>
</div>
<script type="text/html" id="toolsTpl">
    <div class="layui-btn-group">
        {{# if (d.status == 1) { }}
        <span class="layui-btn layui-btn-sm layui-btn-normal">设置</span>
        <span class="layui-btn layui-btn-sm layui-btn-warm">卸载</span>
        {{# } else if (d.status == 0) {  }}
        <span class="layui-btn layui-btn-sm layui-btn-danger">删除</span>
        <span class="layui-btn layui-btn-sm">安装</span>
        {{# } }}
    </div>
</script>
<script>
    layui.use(['table', "ml"], function () {
        var ml = layui.ml;
        ml.render({
            elem: "#myTable",
            search_elem: "#mySearch",
            url: 'index',
            cols: [[
                {'field': "title", 'title': "插件名称", "search": true},
                {'field': "name", 'title': "插件标识"},
                {'field': "version", 'title': "插件版本", "search": true},
                {'field': "description", 'title': "插件简介"},
                {'field': "author", 'title': "插件作者"},
                {'field': "status", 'title': "插件状态", "search": true},
                {'field': "tools", 'title': "操作",templet:"#toolsTpl"}
            ]],
        })
    })
</script>