<div class="layui-card">
    <style>
        .layui-table, .layui-table-view {
            margin: 0 !important;
        }
    </style>
    <div class="layui-card-body">
        <div class="layui-tab" lay-filter="module">
            <ul class="layui-tab-title">
                {volist name="$module" id="vo"}
                <li lay-id="{$key}" class="{$key==0?'layui-this':''}">
                    {$vo.name}
                    <span style="margin-left: 10px"><i onclick=add('{:url("add")}',{module_id:'{$vo.id}'}) class="layui-icon layui-icon-add-circle"></i></span>

                </li>
                {/volist}
            </ul>
        </div>
        <table class="layui-table" style="margin: 0" lay-filter="myTable" id="myTable"></table>

    </div>
</div>
<script type="text/html" id="toolsTpl">
    <div class="layui-btn-group">
        {{# if (d.status == 1) { }}
        {{# if (d.setting == 1) { }}
        <span class="layui-btn layui-btn-sm layui-btn-normal" onclick="setting('{{d.id}}');">设置</span>
        {{# } }}
        <span class="layui-btn layui-btn-sm layui-btn-warm" onclick="uninstall('{{d.id}}');">卸载</span>
        {{# } else if (d.status == 0) { }}
        <span class="layui-btn layui-btn-sm" onclick="install('{{d.id}}');">安装</span>
        <span class="layui-btn layui-btn-sm layui-btn-danger" onclick="del('{{d.id}}');">删除</span>
        {{# } }}
    </div>
</script>
<script>
    var $;
    layui.use(['table', 'form', "ml", "jquery", "element"], function () {
        var ml = layui.ml;
        var table = layui.table;
        var element = layui.element;
        $ = layui.jquery;
        element.on('tab(module)', function (obj) {
            table.reload("myTable", {
                where: {
                    module_id: $(this).attr('lay-id')
                }
            })
        });
        ml.render({
            elem: "#myTable",
            page: false,
            where: {
                module_id: '{$module?$module[0]["id"]:""}'
            },
            parseData: function (res) {
                res.data = parseData(res.data);
                return res
            },
            cols: [[
                {'type': "checkbox"},
                {'field': "sort", 'title': "排序", width: 60, edit: true},
                {'field': "name", 'title': "菜单名称", width: 300},
                {'field': "status", 'title': "状态", type: "switch"},
                {'field': "is_auth", 'title': "是否验权", type: "switch"},
                {'field': "is_show", 'title': "是否显示", type: "switch"},
                {'field': "module_name", 'title': "所属模块", update: false},
                {
                    'field': "target", 'title': "跳转方式", templet: function (d) {
                        return d.target === "_self" ? '新窗口' : '当前窗口';
                    }
                },
                {
                    'field': "is_plugin", 'title': "是否插件", templet: function (d) {
                        return d.is_plugin == 1 ? '是' : '否';
                    }
                },
                {
                    'field': "field", 'title': "操作", btns: [{
                        title: "添加", class: "layui-btn-default", click: "add('{:url(\"add\")}',{id:'{{d.id}}'});",
                    }, {
                        title: "编辑", click: "layerOpen('{:url(\"edit\")}',{id:'{{d.id}}',module_id:'{{d.module_id}}'});",
                    }, {
                        title: "删除", class: "layui-btn-danger", click: "del('{:url(\"del\")}',{id:'{{d.id}}'});",
                    }
                    ]
                }
            ]],
        })
    })

    function add(url, params) {
        params = params || {}
        if (!params.hasOwnProperty('module_id')){
            params['module_id'] = $('.layui-tab-title .layui-this').attr('lay-id')
        }
        layerOpen(url, params)
    }
    function del(url, params) {
        layui.$.post(url,params,function (res) {
            layer.msg(res.msg)
            if(res.code == 0){
                layui.ml.tableInstance.reload()
            }
        })
    }

    function parseData(data, level) {
        var new_data = [];
        var level_str = "|—";
        level = level || 0
        for ($i = 0; $i < level; $i++) {
            level_str += "|—";
        }
        layui.each(data, function (index, datum) {
            datum.name = level_str + datum.name
            new_data.push(datum);
            if ($.isArray(datum['child']) && datum['child'].length > 0) {
                new_data = new_data.concat(parseData(datum['child'], level + 1));
            }
        })
        return new_data;
    }
</script>