<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form layui-form-pane" id="mySearch"></div>
        <table class="layui-table" id="myTable"></table>
    </div>
</div>
<script type="text/html" id="toolsTpl">
    <div class="layui-btn-group">
        {{# if (d.status == 1) { }}
        {{# if (d.setting == 1) { }}
        <span class="layui-btn layui-btn-sm layui-btn-normal" onclick="setting('{{d.id}}');">设置</span>
        {{# } }}
        <span class="layui-btn layui-btn-sm layui-btn-warm" onclick="uninstall('{{d.id}}');">卸载</span>
        {{# } else if (d.status == 0) { }}
        <span class="layui-btn layui-btn-sm" onclick="install('{{d.id}}');">安装</span>
        <span class="layui-btn layui-btn-sm layui-btn-danger" onclick="del('{{d.id}}');">删除</span>
        {{# } }}
    </div>
</script>
<script>
    var $;
    layui.use(['table', 'form', "ml", "jquery"], function () {
        var ml = layui.ml;
        $ = layui.jquery;
        ml.render({
            elem: "#myTable",
            page: false,
            search_elem: "#mySearch",
            cols: [[
                {'type': "checkbox"},
                {'field': "sort", 'title': "排序", width: 60, edit: true},
                {'field': "name", 'title': "菜单名称", "search": true},
                {'field': "status", 'title': "状态", type: "switch"},
                {'field': "is_auth", 'title': "是否验权", type: "switch"},
                {'field': "is_show", 'title': "是否显示", type: "switch"},
                {'field': "module_name", 'title': "所属模块",},
                {
                    'field': "target", 'title': "跳转方式", templet: function (d) {
                        return d.target === "_self" ? '新窗口' : '当前窗口';
                    }
                },
                {'field': "is_plugin", 'title': "是否插件",},
                {
                    'field': "field", 'title': "操作", btns: [{
                        title: "添加", click: "add('{:url(\"add\")}?id={{d.id}}');"
                    }]
                }
            ]],
            done: function (res, curr, count) {
                console.log(res);
                console.log(curr);
                console.log(count);
                res.data.forEach(function (item, index) {
                    if (item.is_wipe == 1) {
                        var tr = $(".layui-table").find("tbody tr[data-index='" + index + "']");
                        tr.css("background-color", "#98FB98");
                        // 给1-0-9列添加样式
                        tr.find(".laytable-cell-1-0-9").css("color", "red");
                    }
                });
            }
        })
    })

    function add(url, title) {
        layerOpen(url, title)
    }

</script>