<div class="layui-card">
    <style>
        .layui-table, .layui-table-view {
            margin: 0 !important;
        }
    </style>
    <div class="layui-card-body">
        <div class="layui-tab" lay-filter="module">
            <ul class="layui-tab-title">
                {volist name="$module" id="vo"}
                <li lay-id="{$vo.id}" class="{$key==0?'layui-this':''}">
                    {$vo.name}
                    <span style="margin-left: 10px"><i onclick=add('',{module_id:'{$vo.id}'})
                                                       class="layui-icon layui-icon-add-circle"></i></span>
                </li>
                {/volist}
            </ul>
        </div>
        <table class="layui-table layui-form" style="margin: 0" lay-filter="myTable" id="myTable"></table>

    </div>
</div>
<script type="text/html" id="toolsTpl">
    <div class="layui-btn-group">
        <span class="layui-btn layui-btn-xs" onclick="add('{{d.id}}');">添加</span>
        <span class="layui-btn layui-btn-xs" onclick="edit('{{d.id}}');">编辑</span>
        <span class="layui-btn layui-btn-xs layui-btn-danger" onclick="del('{{d.id}}');">删除</span>
    </div>
</script>
<script type="text/html" id="statusTpl">
    <input type="checkbox" {{d.status==1?'checked':''}} data-id="{{d.id}}" name="status" data-url="{:url('edit')}"
           lay-filter="changeSwitch"
           lay-skin="switch" lay-text="是|否">
</script>
<script type="text/html" id="is_showTpl">
    <input type="checkbox" {{d.is_show==1?'checked':''}} data-id="{{d.id}}" name="is_show" data-url="{:url('edit')}"
           lay-filter="changeSwitch"
           lay-skin="switch" lay-text="是|否">
</script>
<script type="text/html" id="is_authTpl">
    <input type="checkbox" {{d.is_auth==1?'checked':''}} data-id="{{d.id}}" name="is_auth" data-url="{:url('edit')}"
           lay-filter="changeSwitch"
           lay-skin="switch" lay-text="是|否">
</script>
<script>
    var $;
    layui.use(['treeTable', 'form', 'laytpl', "jquery", "element"], function () {
        var table = layui.treeTable;
        var form = layui.form;
        var element = layui.element;
        $ = layui.jquery;
        var config = {
            elem: '#myTable',// 必须
            url: "{:url('index')}",
            icon_key: 'name',// 必须
            top_value: 0,
            primary_key: 'id',
            parent_key: 'parent_id',
            hide_class: 'layui-hide',
            icon: {
                open: 'layui-icon layui-icon-triangle-d',
                close: 'layui-icon layui-icon-triangle-r',
                left: 20,
            },
            where: {
                module_id: "{$module[0]['id']}",
            },
            cols: [
                {key: 'name', title: '名称', width: '100px'},
                {
                    key: 'sort', title: '排序', width: "80px", template: function (d) {
                        return "<input data-id='" + d.id + "' type='text' value='" + d.sort + "' class='sort layui-input' />"
                    }
                },
                {key: 'url', title: '跳转链接',},

                {
                    key: 'status', title: '状态', width: '100px', template: function (d) {
                        return layui.laytpl($("#statusTpl").html()).render(d)
                    }
                },
                {
                    key: 'is_auth', title: '是否验权', width: '100px',
                    template: function (d) {
                        return layui.laytpl($("#is_authTpl").html()).render(d)
                    }
                },
                {
                    key: 'is_show', title: '是否显示', width: '100px',
                    template: function (d) {
                        return layui.laytpl($("#is_showTpl").html()).render(d)
                    }
                },
                {key: 'target', title: '跳转方式', width: '100px'},
                {
                    key: 'tools', title: '操作', width: '150px', template: function (d) {
                        return layui.laytpl($("#toolsTpl").html()).render(d)
                    }
                },
            ],
            checked: {
                key: 'id',
                data: [],
            },
            is_click_icon: true,
            is_checkbox: true,
            is_cache: true,
            end: function (e) {
                form.render()
            },
        };
        element.on('tab(module)', function (obj) {
            config.where = {
                module_id: $(this).attr('lay-id')
            }
            table.render(config)
        });
        $("#myTable").on("change", ".sort", function () {
            var sort = Number($(this).val())
            if (!$.isNumeric(sort)) {
                return layer.msg('请输入数字');
            }
            $.post("{:url('edit')}", {
                edit_status: 1,
                field: "sort",
                val:sort,
                id: $(this).data('id')
            }, function (res) {
                layer.msg(res.msg)
                if (res.code == 0) {
                    table.render()
                }
            })
        })
        table.render(config)
    })

    function add(id) {
        var url = '{:url("add")}'
        var params = {}
        if (id) {
            params['id'] = id;
        }
        if (!params.hasOwnProperty('module_id')) {
            params['module_id'] = $('.layui-tab-title .layui-this').attr('lay-id')
        }
        layerOpen(url, params)
    }

    function edit(id) {
        var url = '{:url("edit")}'
        var params = {
            id: id
        }
        if (!params.hasOwnProperty('module_id')) {
            params['module_id'] = $('.layui-tab-title .layui-this').attr('lay-id')
        }
        layerOpen(url, params)
    }

    function del(url, params) {
        layui.$.post(url, params, function (res) {
            layer.msg(res.msg)
            if (res.code == 0) {
                table.render()
            }
        })
    }
</script>