<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form layui-form-pane" id="mySearch"></div>
        <div class="layui-btn-group">
            <span class="layui-btn layui-btn-sm" onclick=layerOpen('{:url("add")}')>添加</span>
        </div>
        <table class="layui-table" lay-filter="myTable" id="myTable"></table>
    </div>
</div>
<script>
    var $;
    layui.use(['table', 'form', "ml", "jquery"], function () {
        var ml = layui.ml;
        var table = layui.table;
        $ = layui.jquery;
        ml.render({
            elem: "#myTable",
            page: false,
            search_elem: "#mySearch",
            cols: [[
                {'type': "checkbox"},
                {'field': "id", 'title': "编号", width: 60, edit: true},
                {'field': "nickname", 'title': "昵称", "search": true},
                {'field': "mobile", 'title': "手机号", "search": true},
                {'field': "username", 'title': "登录名", "search": true},
                {'field': "online", 'title': "在线状态", "search": true},
                {
                    'field': "role", 'title': "角色", templet: function (d) {
                        if (d.id == 1) {
                            return "超级管理员"
                        }
                        return "<div><span style='cursor: pointer;color: #1E9FFF' onclick=layerOpen('{:url(\"role\")}',{id:" + d.id + "},'权限设置')>设置</span></div>"
                    }
                },
                {
                    'field': "auth", 'title': "权限", templet: function (d) {
                        if (d.id == 1 || d.role_id.indexOf('1') != -1) {
                            return "全部权限"
                        }
                        return "<div><span style='cursor: pointer;color: #1E9FFF' onclick=layerOpen('{:url(\"permission\")}',{id:" + d.id + "},'权限设置')>设置</span></div>";
                    }
                },
                {'field': "create_time", 'title': "创建时间"},
                {'field': "last_login_ip", 'title': "登录ip"},
                {'field': "last_login_time", 'title': "登录时间"},

                {
                    'field': "status",
                    'title': "状态",
                    confirm: '确认修改状态吗?',
                    url: "{:url('edit')}",
                    type: "switch",
                    text: "启用|禁用"
                },
                {
                    'field': "field", 'title': "操作", btns: [
                        {title: "编辑", click: "layerOpen('{:url(\"edit\")}',{id:'{{d.id}}'},'编辑');",},
                        {title: "发送消息", click: "send('{:url(\"send\")}',{id:'{{d.id}}'},'发送消息');",},
                        {title: "删除", class: "layui-btn-warm", click: "del('{{d.id}}');"}]
                }
            ]]
        })
    })

    function send(id) {
        layer.prompt({
            formType: 2,
            value: '请输入聊天内容',
            title: '聊天',
            area: ['800px', '350px'] //自定义文本域宽高
        }, function (value, index, elem) {
            $.post("{:url('send')}", {
                id: id,
                value: value
            }, function (res) {
                layer.msg(res.msg)
            })
            layer.close(index);
        });
    }

    function del(id) {
        if (id == 1) {
            layer.msg('禁止删除超级管理员')
            return
        }
        $.post("{:url('del')}", {
            id: id
        }, function (res) {
            layer.msg(res.msg)
            if (res.code == 0) {
                layui.ml.tableInstance.reload()
            }
        })
    }

</script>