<form class="layui-form" >
    <div class="layui-tab layui-tab-card" style="background: #FFFFFF">
        <ul class="layui-tab-title">
            {volist name="$auth" id="vo"}
            <li class="{$key!=0?'':'layui-this'}">{$vo.title}</li>
            {/volist}
        </ul>
        <div class="layui-tab-content" style="">
            {volist name="$auth" id="vo"}
            <div class="layui-tab-item {$key!=0?'':'layui-show'}">
                <div id="tree-{$vo.id}">{$vo.title}</div>
            </div>
            {/volist}
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div style="height: 50px">
            <div class="layui-input-block" style="position: fixed;bottom: 5px;width: 100%;background: #f2f2f2">
                <button class="layui-btn layui-btn-nomarl" type="submit" lay-submit
                        lay-filter="mlFormSubmit">保存
                </button>
                <button class="layui-btn layui-btn-warm" type="button" onclick="back()">返回</button>
            </div>
        </div>
    </div>
</form>
<script>
    layui.use(['tree','element'], function () {
        var tree = layui.tree;
        {volist name="$auth" id="vo"}
        tree.render({
            elem: '#tree-{$vo.id}',  //绑定元素
            data: [{id:"",spread:true,children:{:json_encode($vo.children,256)},title:"{$vo.title}"}],
            showCheckbox:true,
            onlyIconControl:true,
            showLine:true
        });
        {/volist}
    })
</script>