<style>
    .layui-btn-avatar{
        width: 100px;
        height: 100px;
        position: relative;
    }
    .layui-btn-avatar img{
        width: 100%;
        height: 100%;
        border: none;
        background: #FFFFFF;
    }
    .layui-btn-avatar .layui-avatar-bg{
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #D0D0D0;
        width: 100%;
        text-align: center;
        height: 100%;
        line-height: 100px;
    }
    .layui-avatar-bg i{
        font-size: 35px;
    }
</style>
<div class="layui-card">
    <div class="layui-card-body ">
        <style>
            .layui-input-inline{
                width: 300px !important;
            }
        </style>
        <form action="{$formConfig.action?:$action}" method="POST" class="layui-form"
              style="width: 800px;" lay-filter="myForm">
            <h1>{$formConfig.title|default=''}</h1>
            {:createFormHtml($formConfig.field)}
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-nomarl" type="submit" lay-submit
                            lay-filter="mlFormSubmit">保存
                    </button>
                    <button class="layui-btn layui-btn-warm" type="button" onclick="back()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    var data = {:json_encode($formConfig.data?:[])};
    var action = '{$formConfig.action}';
    layui.use(['form','jquery','ml'],function () {
        var form = layui.form;
        var $ = layui.jquery;
        var ml = layui.ml;
        // 渲染多上传组件
        ml.renderUploadList(".mlUpload")
        formVal("myForm",data||{})

    })

</script>